In [1]:
import pandas as pd

In [2]:
import plotly.express as px

In [3]:
import plotly.offline as pyo

In [4]:
df = pd.read_csv('/Users/aryasusila/Documents/33 PROGRAMMER DIVERSITY/DATA PROGRAMMER SURVEY/Sorted_Survey.csv', index_col='Respondent')

In [5]:
df

,Country,Student,IncomeinUSD,Age,Gender,Trans,Sexuality,Ethnicity
Respondent,,,,,,,,
4,United States,No,61000.0,22.0,Man,Not Trans,Heterosexual,White or of European descent
6,Canada,No,366420.0,28.0,Man,Not Trans,Heterosexual,East Asian
9,New Zealand,No,95179.0,23.0,Man,Not Trans,Bisexual,White or of European descent
13,United States,No,90000.0,28.0,Man,Not Trans,Heterosexual,White or of European descent
14,Germany,No,57060.0,31.0,Man,Not Trans,Heterosexual,White or of European descent
...,...,...,...,...,...,...,...,...
88877,United States,No,2000000.0,48.0,Man,Not Trans,Heterosexual,South Asian
88878,United States,No,130000.0,26.0,Man,Not Trans,Heterosexual,South Asian
88879,Finland,No,82488.0,34.0,Man,Not Trans,Heterosexual,White or of European descent
88881,Austria,No,68745.0,37.0,Man,Not Trans,Heterosexual,White or of European descent
88883,Greece,No,22915.0,33.0,Man,Not Trans,Heterosexual,White or of European descent

In [6]:
fig = px.sunburst(df, path=["Gender", "Trans", "Sexuality"], color_discrete_sequence=px.colors.qualitative.Pastel)
fig.update_traces(textinfo='label+percent parent', textfont_size=18)
fig.update_layout(font_family='verdana')
pyo.plot(fig, filename='Programmer Diversity in 2022_Sunburst Chart.html')

'Programmer Diversity in 2022_Sunburst Chart.html'

In [7]:
fig.show(renderer='browser')